[Desktop Entry]
Version=0.4.0
Type=Application
Name=PhotoGlimmer
Comment=AI powered photo editor to tweak illumination on people
Exec=/usr/bin/photoglimmer
Icon=photoglimmer
Categories=Graphics;Photography;
Terminal=false
StartupNotify=true
